<!-- header section starts  -->
<header>
    <div id="menu-bar" class="fas fa-bars"></div>
    <a href="#" class="logo">
        <img src="../images/MicrosoftTeams-image (4).png" width="40%" height="100%">
    </a>
    <nav class="navbar">
        <a id="home">Home</a>
        <a href="#about">About</a>
        <a id="account">My Bookings</a>
        <a href="#gallery">gallery</a>
        <a href="#contact">contact</a>
    </nav>
</header>
<!-- header section ends -->
<!-- home section starts  -->
<section class="home" id="home">
    <div class="content">
        <h3>Enjoy your first stay
        </h3>
        <p>discover new things with us,see facilities and explore more</p>
        <a href="#" class="btn">Look more</a>
    </div>
    <div class="controls">
        <span class="vid-btn active" data-src="images/vid-1.mp4"></span>
        <span class="vid-btn" data-src="images/vid-2.mp4"></span>
        <span class="vid-btn" data-src="images/vid-3.mp4"></span>
        <span class="vid-btn" data-src="images/vid-4.mp4"></span>
        <span class="vid-btn" data-src="images/vid-5.mp4"></span>
    </div>
    <div class="video-container">
        <video src="../images/vid-1.mp4" id="video-slider" loop autoplay muted></video>
    </div>

</section>

<!-- home section ends -->
<!-- About us -->
<section class="about top" id="about">
    <h1 class="heading">
        <span>A</span>
        <span>B</span>
        <span>O</span>
        <span>U</span>
        <span>T</span>
        <span>U</span>
        <span>S</span>
    </h1>
    <div class="container flexImage">
        <div class="left">
            <div class="img">
                <img src="../images/a1.jpg" alt="" class="image1">
                <img src="../images/a2.jpg" alt="" class="image2">
            </div>
        </div>
        <div class="right">
            <div class="heading-about">
                <h5>RAISING COMFOMRT TO THE HIGHEST LEVEL</h5>
                <h2>Welcome to THE COZY COTTAGE</h2>
                <p>We aim to redefine a new dimension of luxury and relaxation.We also share a passion for hospitality
                    and Our facilities are your playground.</p>
                <p>The best people to take care of our most valuable asset you.</p>
                <button class="btn1">READ MORE</button>
            </div>
        </div>
    </div>
</section>
<!-- Room section starts  -->
<section class="rooms" id="rooms">
    <h1 class="heading">
        <span>R</span>
        <span>O</span>
        <span>O</span>
        <span>M</span>
        <span>S</span>

    </h1>
    <div class="room box-container">

        <div id="div1" class="room-2 layout"><a class="anchor"><img src="images/r2.jpeg" class="img2">
                <h3 class="name 2">Maharaja suite</h3>
                <p class="para 2">3 Bedroom With Balcony</p><br><a class="button 2">Book</a>
            </a></div>
        <div id="div2" class="room-3 layout"><a class="anchor"><img src="images/r3.jpeg" class="img3">
                <h3 class="name 3">Premium suite</h3>
                <p class="para 3">2 Bedroom With Balcony</p><br><a class="button 3">Book</a>
            </a></div>
        <div id="div3" class="room-1 layout"><a class="anchor"><img src="images/r1.jpeg" class="img1">
                <h3 class="name 1">luxury suite</h3>
                <p class="para 1">2 Bedroom With Balcony</p><br><a class="button 1">Book</a>
            </a></div>
        <div id="div4" class="room-4 layout"><a class="anchor"><img src="images/r4.jpeg" class="img4">
                <h3 class="name 4">Business Executive</h3>
                <p class="para 4">1 Bedroom With Balcony</p><br><a class="button 4">Book</a>
            </a></div>
    </div>
</section>
<!-- Room ends section starts  -->

<!-- gallery section starts  -->
<section class="gallery" id="gallery">
    <h1 class="heading">
        <span>g</span>
        <span>a</span>
        <span>l</span>
        <span>l</span>
        <span>e</span>
        <span>r</span>
        <span>y</span>
    </h1>
    <div class="box-container">
        <div class="box">
            <img src="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                alt="gallery-image" width="30rem" height="20rem">
        </div>
        <div class="box">
            <img src="https://images.pexels.com/photos/338504/pexels-photo-338504.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                alt="gallery-image" width="30rem" height="20rem">

        </div>
        <div class="box">
            <img src="https://images.pexels.com/photos/2034335/pexels-photo-2034335.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="gallery-image" width="30rem" height="20rem">

        </div>
        <div class="box">
            <img src="https://images.pexels.com/photos/277572/pexels-photo-277572.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="gallery-image" width="30rem" height="20rem">

        </div>
        <div class="box">
            <img src="https://images.pexels.com/photos/941861/pexels-photo-941861.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="gallery-image" width="30rem" height="20rem">

        </div>
        <div class="box">
            <img src="https://images.pexels.com/photos/260922/pexels-photo-260922.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                alt="gallery-image" width="30rem" height="20rem">

        </div>
        <div class="box">
            <img src="https://images.pexels.com/photos/244133/pexels-photo-244133.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                alt="gallery-image" width="30rem" height="20rem">

        </div>
        <div class="box">
            <img src="https://images.pexels.com/photos/860922/pexels-photo-860922.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                alt="gallery-image" width="30rem" height="20rem">

        </div>
        <div class="box">
            <img src="https://images.pexels.com/photos/161758/governor-s-mansion-montgomery-alabama-grand-staircase-161758.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="gallery-image" width="30rem" height="20rem">
            <div class="content">
                <h3>Gallery Area</h3>
                <p>See more enjoy more</p>
                <a href="#" class="btn">see more</a>
            </div>
        </div>
    </div>
</section>
<!-- gallery section ends -->
<!-- footer section  -->
<h1 class="heading" id="contact">
    <span>C</span>
    <span>O</span>
    <span>N</span>
    <span>T</span>
    <span>A</span>
    <span>C</span>
    <span>T</span>
</h1>

{{>footer}}